{
  "log": {
    "_recordingName": "fetchDomains",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 592,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 174,
      },
      {
        "_id": "81708a4628a0f4034553d9ea4fc24931",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://www.googleapis.com/admin/directory/v1/customer/C02etu699/domains"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 975,
            "text": "{\"kind\":\"admin#directory#domains\",\"etag\":\"\\\"o6ztWZ3lhe-tsV75FsFXpSEZSr0dIx_rEPuaEFoI634/KTGhUSwA2KNfLDZOYUFxZfciSzM\\\"\",\"domains\":[{\"kind\":\"admin#directory#domain\",\"etag\":\"\\\"o6ztWZ3lhe-tsV75FsFXpSEZSr0dIx_rEPuaEFoI634/6j1NZUK3BBPEtHB3FKBAuzFYmEk\\\"\",\"domainName\":\"jupiterone.io\",\"domainAliases\":[{\"kind\":\"admin#directory#domainAlias\",\"etag\":\"\\\"o6ztWZ3lhe-tsV75FsFXpSEZSr0dIx_rEPuaEFoI634/zevudprFOEPK3lTezAE-d43Sy3o\\\"\",\"domainAliasName\":\"jupiterone.io.test-google-a.com\",\"parentDomainName\":\"jupiterone.io\",\"verified\":true,\"creationTime\":\"1549555037874\"}],\"isPrimary\":false,\"verified\":true,\"creationTime\":\"1549555037874\"},{\"kind\":\"admin#directory#domain\",\"etag\":\"\\\"o6ztWZ3lhe-tsV75FsFXpSEZSr0dIx_rEPuaEFoI634/CdS83q1_xnaOGbB-PXkIZoldDVM\\\"\",\"domainName\":\"jupiterone.com\",\"isPrimary\":true,\"verified\":true,\"creationTime\":\"1594817987271\"},{\"kind\":\"admin#directory#domain\",\"etag\":\"\\\"o6ztWZ3lhe-tsV75FsFXpSEZSr0dIx_rEPuaEFoI634/2dHzznB4s2jx9W_p2IM6KWdb0rQ\\\"\",\"domainName\":\"jptr.one\",\"isPrimary\":false,\"verified\":true,\"creationTime\":\"1596544251506\"}]}"
          },
          "headers": [
            {
              "name": "etag",
              "value": "\"o6ztWZ3lhe-tsV75FsFXpSEZSr0dIx_rEPuaEFoI634/KTGhUSwA2KNfLDZOYUFxZfciSzM\""
            },
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 242,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
