{
  "log": {
    "_recordingName": "fetchDomains",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 541,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 186,
      },
      {
        "_id": "32ce2ce76930be03fcdcb58e69b7562c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://admin.googleapis.com/admin/directory/v1/customer/C048tgq5f/domains"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 726,
            "text": "{\"kind\":\"admin#directory#domains\",\"etag\":\"\\\"nqbsbhvoIENh0WbZEZYWTG7mnk2phHz4rrCEo-rHT2k/OAV0q0MWWCj3rTfFH54DG6xQyT4\\\"\",\"domains\":[{\"kind\":\"admin#directory#domain\",\"etag\":\"\\\"nqbsbhvoIENh0WbZEZYWTG7mnk2phHz4rrCEo-rHT2k/WA7ByZRkRpGgnXLwEPGUupV7k6s\\\"\",\"domainName\":\"jupiterone.dev\",\"domainAliases\":[{\"kind\":\"admin#directory#domainAlias\",\"etag\":\"\\\"nqbsbhvoIENh0WbZEZYWTG7mnk2phHz4rrCEo-rHT2k/oW480BdgHayQKmnuoDeWTf6fPjs\\\"\",\"domainAliasName\":\"jupiterone.dev.test-google-a.com\",\"parentDomainName\":\"jupiterone.dev\",\"verified\":true,\"creationTime\":\"1622061210453\"}],\"isPrimary\":true,\"verified\":true,\"creationTime\":\"1622061210453\"}]}"
          },
          "headers": [
            {
              "name": "etag",
              "value": "\"nqbsbhvoIENh0WbZEZYWTG7mnk2phHz4rrCEo-rHT2k/OAV0q0MWWCj3rTfFH54DG6xQyT4\""
            },
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 304,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
