{
  "log": {
    "_recordingName": "fetchUserDevices",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 455,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2724,
      },
      {
        "_id": "a7befa155e4886a1493596ad23c98206",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "view",
              "value": "USER_ASSIGNED_DEVICES"
            },
            {
              "name": "pageSize",
              "value": "200"
            }
          ],
          "url": "https://cloudidentity.googleapis.com/v1/devices?view=USER_ASSIGNED_DEVICES&pageSize=200"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 748,
            "text": "{\"devices\":[{\"name\":\"devices/EiQwNjdiODM5MC01MzhiLTQ4ZWYtOWI5NC1kMzM2MmY4NmRkMWU%3D\",\"createTime\":\"2022-09-07T12:50:40.019Z\",\"lastSyncTime\":\"2022-10-04T12:09:24.601Z\",\"ownerType\":\"BYOD\",\"model\":\"Linux\",\"osVersion\":\"Linux\",\"deviceType\":\"LINUX\",\"androidSpecificAttributes\":{},\"deviceId\":\"067b8390-538b-48ef-9b94-d3362f86dd1e\",\"securityPatchTime\":\"1970-01-01T00:00:00Z\"},{\"name\":\"devices/EiQ1Njg5MzFjYi1jYTczLTRiNGEtYTg2MC0yNDgxNTZjMjIyYzE%3D\",\"createTime\":\"2022-09-22T03:01:13Z\",\"lastSyncTime\":\"2022-10-04T04:47:55.399Z\",\"ownerType\":\"BYOD\",\"model\":\"Mac\",\"osVersion\":\"macOS 10.15.7\",\"deviceType\":\"MAC_OS\",\"androidSpecificAttributes\":{},\"deviceId\":\"568931cb-ca73-4b4a-a860-248156c222c1\",\"securityPatchTime\":\"1970-01-01T00:00:00Z\"},{\"name\":\"devices/EiQ2OTE5OTE3NC04OTFjLTQ2YmYtYjNmNi1mNDdiMTlmMmZjZjI%3D\",\"createTime\":\"2022-09-07T13:01:13Z\",\"lastSyncTime\":\"2022-09-07T21:47:53.598Z\",\"ownerType\":\"BYOD\",\"model\":\"Linux\",\"osVersion\":\"Linux\",\"deviceType\":\"LINUX\",\"androidSpecificAttributes\":{},\"deviceId\":\"69199174-891c-46bf-b3f6-f47b19f2fcf2\",\"securityPatchTime\":\"1970-01-01T00:00:00Z\"}],\"nextPageToken\":\"IAE\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 463,
      },
      {
        "_id": "08531e33b102cf201d2a608be51127dd",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "view",
              "value": "USER_ASSIGNED_DEVICES"
            },
            {
              "name": "pageToken",
              "value": "IAE"
            },
            {
              "name": "pageSize",
              "value": "200"
            }
          ],
          "url": "https://cloudidentity.googleapis.com/v1/devices?view=USER_ASSIGNED_DEVICES&pageToken=IAE&pageSize=200"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 131,
            "text": "{}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 414,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
