{
  "log": {
    "_recordingName": "fetchGroups",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 414,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 271,
      },
      {
        "_id": "9e8530e610e2e450a37219d795dfb6af",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "customer",
              "value": "C048tgq5f"
            },
            {
              "name": "projection",
              "value": "full"
            }
          ],
          "url": "https://admin.googleapis.com/admin/directory/v1/users?customer=C048tgq5f&projection=full"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 2093,
            "text": "{\"kind\":\"admin#directory#users\",\"etag\":\"\\\"PQzIumVX0Flcu8D-lHIfdB21OvlJw3jVcWVkMdR-BBI/pVK-8zxCJ0V8ooxlo5IsyKCnBxQ\\\"\",\"users\":[{\"kind\":\"admin#directory#user\",\"id\":\"101087418859287572029\",\"etag\":\"\\\"PQzIumVX0Flcu8D-lHIfdB21OvlJw3jVcWVkMdR-BBI/0PU__DkUq3dOot22HPa-bYdI-j0\\\"\",\"primaryEmail\":\"adam.williams@jupiterone.dev\",\"name\":{\"givenName\":\"Adam\",\"familyName\":\"Williams\",\"fullName\":\"Adam Williams\"},\"isAdmin\":true,\"isDelegatedAdmin\":false,\"lastLoginTime\":\"2023-03-03T20:38:46.000Z\",\"creationTime\":\"2021-05-26T20:33:31.000Z\",\"agreedToTerms\":true,\"suspended\":false,\"archived\":false,\"changePasswordAtNextLogin\":false,\"ipWhitelisted\":false,\"emails\":[{\"address\":\"adam.williams@jupiterone.dev\",\"primary\":true},{\"address\":\"adam.williams@jupiterone.dev.test-google-a.com\"}],\"languages\":[{\"languageCode\":\"en\",\"preference\":\"preferred\"}],\"nonEditableAliases\":[\"adam.williams@jupiterone.dev.test-google-a.com\"],\"customerId\":\"C048tgq5f\",\"orgUnitPath\":\"/\",\"isMailboxSetup\":true,\"isEnrolledIn2Sv\":false,\"isEnforcedIn2Sv\":false,\"includeInGlobalAddressList\":true,\"recoveryEmail\":\"adam.williams@jupiterone.com\",\"recoveryPhone\":\"+19192477950\"},{\"kind\":\"admin#directory#user\",\"id\":\"103216940484951073954\",\"etag\":\"\\\"PQzIumVX0Flcu8D-lHIfdB21OvlJw3jVcWVkMdR-BBI/OFg08IaNCK0eTBVjwGKxwy_f57c\\\"\",\"primaryEmail\":\"austin.kelleher@jupiterone.dev\",\"name\":{\"givenName\":\"Austin\",\"familyName\":\"Kelleher\",\"fullName\":\"Austin Kelleher\"},\"isAdmin\":true,\"isDelegatedAdmin\":false,\"lastLoginTime\":\"2023-01-31T15:37:46.000Z\",\"creationTime\":\"2021-05-26T21:06:45.000Z\",\"agreedToTerms\":true,\"suspended\":false,\"archived\":false,\"changePasswordAtNextLogin\":false,\"ipWhitelisted\":false,\"emails\":[{\"address\":\"austin.kelleher@jupiterone.dev\",\"primary\":true},{\"address\":\"austin.kelleher@jupiterone.dev.test-google-a.com\"}],\"languages\":[{\"languageCode\":\"en\",\"preference\":\"preferred\"}],\"nonEditableAliases\":[\"austin.kelleher@jupiterone.dev.test-google-a.com\"],\"customerId\":\"C048tgq5f\",\"orgUnitPath\":\"/\",\"isMailboxSetup\":true,\"isEnrolledIn2Sv\":false,\"isEnforcedIn2Sv\":false,\"includeInGlobalAddressList\":true,\"thumbnailPhotoUrl\":\"https://www.google.com/s2/photos/private/AIbEiAIAAABDCKLJ06i7yrfSLCILdmNhcmRfcGhvdG8qKGIxMWJkZjY4MTgxNjRmMzI2Zjg2MTgzMTVhMTdhYTkxZmExYmIzYmIwAWtR2OPl3YQeIe9bTEZhagyvRf7L\",\"thumbnailPhotoEtag\":\"\\\"PQzIumVX0Flcu8D-lHIfdB21OvlJw3jVcWVkMdR-BBI/U2bHFDLNCcYr-MPSdvmA3Xp34jY\\\"\",\"recoveryEmail\":\"austin.kelleher@jupiterone.com\",\"recoveryPhone\":\"+15859430080\"},{\"kind\":\"admin#directory#user\",\"id\":\"109801570197266814256\",\"etag\":\"\\\"PQzIumVX0Flcu8D-lHIfdB21OvlJw3jVcWVkMdR-BBI/qsfdJhbn5e1xkxQrtCKfgnAodLo\\\"\",\"primaryEmail\":\"development@jupiterone.dev\",\"name\":{\"givenName\":\"JupiterOne\",\"familyName\":\"Development\",\"fullName\":\"JupiterOne Development\"},\"isAdmin\":false,\"isDelegatedAdmin\":true,\"lastLoginTime\":\"2023-03-03T20:37:30.000Z\",\"creationTime\":\"2021-10-26T22:41:14.000Z\",\"agreedToTerms\":true,\"suspended\":false,\"archived\":false,\"changePasswordAtNextLogin\":false,\"ipWhitelisted\":false,\"emails\":[{\"address\":\"austin.kelleher@jupiterone.com\",\"type\":\"work\"},{\"address\":\"development@jupiterone.dev\",\"primary\":true},{\"address\":\"development@jupiterone.dev.test-google-a.com\"}],\"phones\":[{\"value\":\"5859430080\",\"type\":\"work\"}],\"languages\":[{\"languageCode\":\"en\",\"preference\":\"preferred\"}],\"nonEditableAliases\":[\"development@jupiterone.dev.test-google-a.com\"],\"customerId\":\"C048tgq5f\",\"orgUnitPath\":\"/\",\"isMailboxSetup\":true,\"isEnrolledIn2Sv\":false,\"isEnforcedIn2Sv\":false,\"includeInGlobalAddressList\":true,\"recoveryEmail\":\"austin.kelleher@jupiterone.com\",\"recoveryPhone\":\"+15859430080\"},{\"kind\":\"admin#directory#user\",\"id\":\"117824073733[...]
