{
  "log": {
    "_recordingName": "fetchRoleAssignments",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 590,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 188,
      },
      {
        "_id": "8f9d6cb035f2e598acff1f17c15bbf82",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "customer",
              "value": "C048tgq5f"
            },
            {
              "name": "projection",
              "value": "full"
            }
          ],
          "url": "https://www.googleapis.com/admin/directory/v1/users?customer=C048tgq5f&projection=full"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 2799,
            "text": "{\"kind\":\"admin#directory#users\",\"etag\":\"\\\"aaZqZyUft7xI3y3XMdPGtdJB-t_YjYHsS87YAfx4y1A/7ntjkUUKJV_lj1Tb18WjIHTxzQY\\\"\",\"users\":[{\"kind\":\"admin#directory#user\",\"id\":\"101087418859287572029\",\"etag\":\"\\\"aaZqZyUft7xI3y3XMdPGtdJB-t_YjYHsS87YAfx4y1A/qDYMhIybR65PEueM_uX3TAYsvTc\\\"\",\"primaryEmail\":\"adam.williams@jupiterone.dev\",\"name\":{\"givenName\":\"Adam\",\"familyName\":\"Williams\",\"fullName\":\"Adam Williams\"},\"isAdmin\":true,\"isDelegatedAdmin\":false,\"lastLoginTime\":\"2021-08-26T19:19:19.000Z\",\"creationTime\":\"2021-05-26T20:33:31.000Z\",\"agreedToTerms\":true,\"suspended\":false,\"archived\":false,\"changePasswordAtNextLogin\":false,\"ipWhitelisted\":false,\"emails\":[{\"address\":\"adam.williams@jupiterone.dev\",\"primary\":true},{\"address\":\"adam.williams@jupiterone.dev.test-google-a.com\"}],\"nonEditableAliases\":[\"adam.williams@jupiterone.dev.test-google-a.com\"],\"customerId\":\"C048tgq5f\",\"orgUnitPath\":\"/\",\"isMailboxSetup\":true,\"isEnrolledIn2Sv\":false,\"isEnforcedIn2Sv\":false,\"includeInGlobalAddressList\":true,\"recoveryEmail\":\"adam.williams@jupiterone.com\",\"recoveryPhone\":\"+19192477950\"},{\"kind\":\"admin#directory#user\",\"id\":\"103216940484951073954\",\"etag\":\"\\\"aaZqZyUft7xI3y3XMdPGtdJB-t_YjYHsS87YAfx4y1A/2aZa3TVHzNc-skYhjfbKhToQuag\\\"\",\"primaryEmail\":\"austin.kelleher@jupiterone.dev\",\"name\":{\"givenName\":\"Austin\",\"familyName\":\"Kelleher\",\"fullName\":\"Austin Kelleher\"},\"isAdmin\":true,\"isDelegatedAdmin\":false,\"lastLoginTime\":\"2021-09-12T11:35:34.000Z\",\"creationTime\":\"2021-05-26T21:06:45.000Z\",\"agreedToTerms\":true,\"suspended\[...]
