{
  "log": {
    "_recordingName": "fetchRoleAssignments",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 552,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 166,
      },
      {
        "_id": "bc7702e520113a0baff39e0f24ddfb98",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://www.googleapis.com/admin/directory/v1/customer/C048tgq5f/roleassignments"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 1122,
            "text": "{\"kind\":\"admin#directory#roleAssignments\",\"etag\":\"\\\"aaZqZyUft7xI3y3XMdPGtdJB-t_YjYHsS87YAfx4y1A/9PSftVtOmsYV0djhc4j2gyFcvFE\\\"\",\"items\":[{\"kind\":\"admin#directory#roleAssignment\",\"etag\":\"\\\"aaZqZyUft7xI3y3XMdPGtdJB-t_YjYHsS87YAfx4y1A/FiQi4ZeI4YOyFRiMOU5rUG7YaZc\\\"\",\"roleAssignmentId\":\"50503969335672833\",\"roleId\":\"50503969335672833\",\"assignedTo\":\"101087418859287572029\",\"scopeType\":\"CUSTOMER\"},{\"kind\":\"admin#directory#roleAssignment\",\"etag\":\"\\\"aaZqZyUft7xI3y3XMdPGtdJB-t_YjYHsS87YAfx4y1A/NgoZEYZb3gu0NBmyJFvRsHKJ-UU\\\"\",\"roleAssignmentId\":\"50503969335672834\",\"roleId\":\"50503969335672833\",\"assignedTo\":\"103216940484951073954\",\"scopeType\":\"CUSTOMER\"},{\"kind\":\"admin#directory#roleAssignment\",\"etag\":\"\\\"aaZqZyUft7xI3y3XMdPGtdJB-t_YjYHsS87YAfx4y1A/P1qhk3HHijtjVHZtFTJOmsKm0i8\\\"\",\"roleAssignmentId\":\"50503969335672836\",\"roleId\":\"505039693[...]
