{
  "log": {
    "_recordingName": "fetchRoleAssignments",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 553,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 180,
      },
      {
        "_id": "9e8530e610e2e450a37219d795dfb6af",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "customer",
              "value": "C048tgq5f"
            },
            {
              "name": "projection",
              "value": "full"
            }
          ],
          "url": "https://admin.googleapis.com/admin/directory/v1/users?customer=C048tgq5f&projection=full"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 2875,
            "text": "{\"kind\":\"admin#directory#users\",\"etag\":\"\\\"nqbsbhvoIENh0WbZEZYWTG7mnk2phHz4rrCEo-rHT2k/6DTtOnIxsq0drwRTqjYl7AsSk6w\\\"\",\"users\":[{\"kind\":\"admin#directory#user\",\"id\":\"101087418859287572029\",\"etag\":\"\\\"nqbsbhvoIENh0WbZEZYWTG7mnk2phHz4rrCEo-rHT2k/b6UWRJGqgKt9JXTfpHqstwB7fNA\\\"\",\"primaryEmail\":\"adam.williams@jupiterone.dev\",\"name\":{\"givenName\":\"Adam\",\"familyName\":\"Williams\",\"fullName\":\"Adam Williams\"},\"isAdmin\":true,\"isDelegatedAdmin\":false,\"lastLoginTime\":\"2021-11-19T18:54:46.000Z\",\"creationTime\":\"2021-05-26T20:33:31.000Z\",\"agreedToTerms\":true,\"suspended\":false,\"archived\":false,\"changePasswordAtNextLogin\":false,\"ipWhitelisted\":false,\"emails\":[{\"address\":\"adam.williams@jupiterone.dev\",\"primary\":true},{\"address\":\"adam.williams@jupiterone.dev.test-google-a.com\"}],\"languages\":[{\"languageCode\":\"en\"}],\"nonEditableAliases\":[\"adam.williams@jupiterone.dev.test-google-a.com\"],\"customerId\":\"C048tgq5f\",\"orgUnitPath\":\"/\",\"isMailboxSetup\":true,\"isEnrolledIn2Sv\":false,\"isEnforcedIn2Sv\":false,\"includeInGlobalAddressList\":true,\"recoveryEmail\":\"adam.williams@jupiterone.com\",\"recoveryPhone\":\"+19192477950\"},{\"kind\":\"admin#directory#user\",\"id\":\"103216940484951073954\",\"etag\":\"\\\"nqbsbhvoIENh0WbZEZYWTG7mnk2phHz4rrCEo-rHT2k/1cZChJ3r71Zpn86m5DWCnMnZgPA\\\"\",\"primaryEmail\":\"austin.kelleher@jupiterone.dev\",\"name\":{\"givenName\":\"Austin\",\"familyName\":\"Kelleher\",\"fullName\":\"Austin Kelleher\"},\"isAdmin\":true,\"isDelegatedAdmin\":false,\"lastLoginTime\":\"2021-11-29T19:13:41.000Z\",\"creationTime\":\"2021-05-26T21:06:45.000Z\",\"agreedToTerms\":true,\"suspended\[...]
