{
  "log": {
    "_recordingName": "fetchRoles",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 586,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 169,
      },
      {
        "_id": "dc146208d01001afc4cb62812e521a90",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://www.googleapis.com/admin/directory/v1/customer/C048tgq5f/roles"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 3798,
            "text": "{\"kind\":\"admin#directory#roles\",\"etag\":\"\\\"TelgxBbMU8DPRSlEKczQPr-k2OsjSql94v-H_DyiD8g/K3XBGLf6eY_jSApF9qNHny6TP0A\\\"\",\"items\":[{\"kind\":\"admin#directory#role\",\"etag\":\"\\\"TelgxBbMU8DPRSlEKczQPr-k2OsjSql94v-H_DyiD8g/p6QlXDm9MTGl_-YpfmD5G222-RU\\\"\",\"roleId\":\"50503969335672833\",\"roleName\":\"_SEED_ADMIN_ROLE\",\"roleDescription\":\"Google Workspace Administrator Seed Role\",\"rolePrivileges\":[{\"privilegeName\":\"SUPER_ADMIN\",\"serviceId\":\"01ci93xb3tmzyin\"},{\"privilegeName\":\"ROOT_APP_ADMIN\",\"serviceId\":\"01664s550kmxmin\"},{\"privilegeName\":\"ROOT_APP_ADMIN\",\"serviceId\":\"03j2qqm31d4j55e\"},{\"privilegeName\":\"ROOT_APP_ADMIN\",\"serviceId\":\"0319y80a15kueje\"},{\"privilegeName\":\"ROOT_APP_ADMIN\",\"serviceId\":\"03znysh70xi7xn7\"},{\"privilegeName\":\"ROOT_APP_ADMIN\",\"serviceId\":\"01ci93xb43sd8me\"},{\"privilegeName\":\"ROOT_APP_ADMIN\",\"serviceId\":\"00sqyw642iersp7\"},{\"privilegeName\":\"ROOT_APP_ADMIN\",\"s[...]
