{
  "log": {
    "_recordingName": "fetchRoles",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 556,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 202,
      },
      {
        "_id": "cad7cf9ca973094e7dccf92faf00309a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://admin.googleapis.com/admin/directory/v1/customer/C048tgq5f/roles"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 6043,
            "text": "{\"kind\":\"admin#directory#roles\",\"etag\":\"\\\"nqbsbhvoIENh0WbZEZYWTG7mnk2phHz4rrCEo-rHT2k/ekC_3-LKaJ3KMH95Un1C8F7QBKI\\\"\",\"items\":[{\"kind\":\"admin#directory#role\",\"etag\":\"\\\"nqbsbhvoIENh0WbZEZYWTG7mnk2phHz4rrCEo-rHT2k/4aXZCTNAaNqjI9kZ7IzMV_k6J0k\\\"\",\"roleId\":\"50503969335672833\",\"roleName\":\"_SEED_ADMIN_ROLE\",\"roleDescription\":\"Google Workspace Administrator Seed Role\",\"rolePrivileges\":[{\"privilegeName\":\"SUPER_ADMIN\",\"serviceId\":\"01ci93xb3tmzyin\"},{\"privilegeName\":\"ROOT_APP_ADMIN\",\"serviceId\":\"01664s550kmxmin\"},{\"privilegeName\":\"ROOT_APP_ADMIN\",\"serviceId\":\"03j2qqm31d4j55e\"},{\"privilegeName\":\"ROOT_APP_ADMIN\",\"serviceId\":\"0319y80a15kueje\"},{\"privilegeName\":\"ROOT_APP_ADMIN\",\"serviceId\":\"03znysh70xi7xn7\"},{\"privilegeName\":\"ROOT_APP_ADMIN\",\"serviceId\":\"01ci93xb43sd8me\"},{\"privilegeName\":\"ROOT_APP_ADMIN\",\"serviceId\":\"00sqyw642iersp7\"},{\"privilegeName\":\"ROOT_APP_ADMIN\",\"s[...]
