{
  "log": {
    "_recordingName": "fetch-chrome-extensions",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 445,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 843,
      },
      {
        "_id": "1bc808af93bc64499ad43040e2fde665",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "filter",
              "value": "app_type=EXTENSION "
            }
          ],
          "url": "https://chromemanagement.googleapis.com/v1/customers/C048tgq5f/reports:countInstalledApps?filter=app_type%3DEXTENSION%20"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 1155,
            "text": "{  \"installedApps\": [    {      \"appId\": \"fgponpodhbmadfljofbimhhlengambbn\",      \"appType\": \"EXTENSION\",      \"browserDeviceCount\": \"1\",      \"appInstallType\": \"NORMAL\",      \"appSource\": \"CHROME_WEBSTORE\",      \"displayName\": \"WebSocket Test Client\",      \"description\": \"A Simple tool to help test WebSocket Service\",      \"homepageUri\": \"https://chrome.google.com/webstore/detail/fgponpodhbmadfljofbimhhlengambbn\",      \"permissions\": [        \"tabs\"      ]    },    {      \"appId\": \"fjoaledfpmneenckfbpdfhkmimnjocfa\",      \"appType\": \"EXTENSION\",      \"browserDeviceCount\": \"1\",      \"appInstallType\": \"NORMAL\",      \"appSource\": \"CHROME_WEBSTORE\",      \"displayName\": \"NordVPN - VPN Proxy for Privacy and Security\",      \"description\": \"One click, and you're connected to the fastest VPN out there — NordVPN. Stay safe online with our VPN proxy extension for Chrome.\",      \"homepageUri\": \"https://c[...]
