{
  "log": {
    "_recordingName": "fetchChromeOSDevices",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 586,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 177,
      },
      {
        "_id": "e2d5a379d8cfedf513936b98366dc85a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://admin.googleapis.com/admin/directory/v1/customer/C048tgq5f/devices/chromeos"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 4162,
            "text": "{\"kind\":\"admin#directory#chromeosdevices\",\"etag\":\"\\\"AX6M7SfKZ_nsxN3gDLY5FqkOIZdXe4fOIyur1mUmk1Y/qO5MJ7cykk0pduKRH2T6XZtT4pg\\\"\",\"chromeosdevices\":[{\"kind\":\"admin#directory#chromeosdevice\",\"etag\":\"\\\"AX6M7SfKZ_nsxN3gDLY5FqkOIZdXe4fOIyur1mUmk1Y/_JUms9o7An2qTIl3Rci_r7xsAEo\\\"\",\"deviceId\":\"06d4fd60-bed5-4fe2-8d82-1a7b7b76f9ac\",\"serialNumber\":\"3WAZ9FGNC00030E\",\"status\":\"ACTIVE\",\"lastSync\":\"2022-05-19T16:14:15.759Z\",\"annotatedUser\":\"integration-development@jupiterone.dev\",\"model\":\"Samsung Galaxy Chromebook\",\"osVersion\":\"101.0.4951.59\",\"platformVersion\":\"14588.98.0 (Official Build) stable-channel hatch\",\"firmwareVersion\":\"Google_Kohaku.12672.463.0\",\"macAddress\":\"2cdb07af9a83\",\"bootMode\":\"Verified\",\"lastEnrollmentTime\":\"2022-05-19T13:33:02.539Z\",\"orgUnitPath\":\"/\",\"orgUnitId\":\"03ph8a2z2lubvlt\",\"activeTimeRanges\":[{\"date\":\"2022-05-19\",\"activeTime\":840024}],\"tpmVersionInfo\":{\"family\":\"322e3000\",\"specLevel\":\"74\",\"manufacturer\":\"43524f53\",\"tpmModel\":\"1\",\"firmwareVersion\":\"a2d932d70cb1415b\",\"vendorSpecific\":\"xCG fTPM\"},\"cpuStatusReports\":[{\"reportTime\":\"2022-05-19T13:33:09.569Z\",\"cpuUtilizationPercentageInfo\":[1],\"cpuTemperatureInfo\":[{\"temperature\":33,\"label\":\"Core 0\\n\"},{\"temperature\":35,\"label\":\"Core 1\\n\"},{\"temperature\":33,\"label\":\"Core 2\\n\"},{\"temperature\":32,\"label\":\"Core 3\\n\"},{\"temperature\":35,\"label\":\"Package id 0\\n\"},{\"temperature\":30,\"label\":\"iwlwifi_1\\n\"}]},{\"reportTime\":\"2022-05-19T13:34:09.558Z\",\"cpuTemperatureInfo\":[{\"temperature\":29,\"label\":\"Core 0\\n\"},{\"temperature\":33,\"label\":\"Core 1\\n\"},{\"temperature\":33,\"label\":\"Core 2\\n\"},{\"temperature\":28,\"label\":\"Core 3\\n\"},{\"temperature\":33,\"label\":\"Package id 0\\n\"},{\"temperature\":30,\"label\":\"iwlwifi_1\\n\"}]},{\"reportTime\":\"2022-05-19T14:03:13.172Z\",\"cpuUtilizationPercentageInfo\":[39]},{\"reportTime\":\"2022-05-19T14:04:13.166Z\",\"cpuTemperatureInfo\":[{\"temperature\":34,\"label\":\"Core 1\\n\"},{\"temperature\":32,\"label\":\"Core 2\\n\"},{\"temperature\":34,\"label\":\"Package id 0\\n\"},{\"temperature\":30,\"label\":\"Core 3\\n\"},{\"temperature\":31,\"label\":\"Core 0\\n\"},{\"temperature\":33,\"label\":\"iwlwifi_1\\n\"}]},{\"reportTime\":\"2022-05-19T16:14:13.428Z\",\"cpuUtilizationPercentageInfo\":[17]},{\"reportTime\":\"2022-05-19T16:15:13.424Z\",\"cpuTemperatureInfo\":[{\"temperature\":31,\"label\":\"Core 1\\n\"},{\"temperature\":28,\"label\":\"Core 2\\n\"},{\"temperature\":31,\"label\":\"Package id 0\\n\"},{\"temperature\":26,\"label\":\"Core 3\\n\"},{\"temperature\":28,\"label\":\"Core 0\\n\"},{\"temperature\":29,\"label\":\"iwlwifi_1\\n\"}]}],\"systemRamTotal\":\"8218046464\",\"systemRamFreeReports\":[{\"reportTime\":\"2022-05-19T13:33:09.569Z\",\"systemRamFreeInfo\":[\"5896839168\"]},{\"reportTime\":\"2022-05-19T14:03:13.162Z\",\"systemRamFreeInfo\":[\"6141267968\"]},{\"reportTime\":\"2022-05-19T16:14:13.420Z\",\"systemRamFreeInfo\":[\"6376738816\"]}],\"diskVolumeReports\":[{\"volumeInfo\":[{\"volumeId\":\"/media/archive\",\"storageTotal\":\"4109021184\",\"storageFree\":\"4109021184\"},{\"volumeId\":\"/usr/share/oem\",\"storageTotal\":\"12042240\",\"storageFree\":\"11681792\"},{\"volumeId\":\"/media/removable\",\"storageTotal\":\"4109021184\",\"storageFree\":\"4109021184\"}]}],\"manufactureDate\":\"2020-12-04\",\"autoUpdateExpiration\":\"1843455600000\",\"cpuInfo\":[{\"model\":\"Intel(R) Core(TM) i5-10210U CPU @ 1.60GHz\",\"architecture\":\"x64\",\"maxClockSpeedKhz\":4200000,\"logicalCpus\":[{\"maxScalingFrequencyKhz\":4200000,\"currentScalingFrequencyKhz\":887947,\"idleDuration\":\"72s\",\"cStates\":[{\"displayName\":\"C7s\",\"sessionDuration\":\"0.012074s\"},{\"displayName\":\"C3\",\"sessionDuration\":\"0.300112s\"},{\"displayName\":\"C1\",\"sessionDuration\":\"0.304366s\"},{\"displayName\":\"C10\",\"sessionDuration\":\"58.455156s\"},{\"displayName\":\"C8\",\"sessionDuration\":\"5.201451s\"},{\"displayName\":\"C6\",\"sessionDuration\":\"5.821382s\"},{\"displayName\":\"C1E\",\"sessionDuration\":\"0.748027s\"},{\"displayName\":\"POLL\",\"sessionDuration\":\"0.574729s\"},{\"displayName\":\"C9\",\"sessionDuration\":\"1.039921s\"}]},{\"max[...]
